.dash_panels
{
    background-color: whitesmoke;
    height: calc(100vw / 6);
    width: calc(100vw / 6);
    border: 10px solid rgb(208, 247, 208);
    float: left;
    margin: 3%;
    color: black;
    padding: 0px;
    position: static;
    
}


